-i https://pypi.org/simple
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
coverage==5.2.1
hypothesis==5.24.0
idna==2.10
importlib-metadata==1.7.0 ; python_version < '3.8'
iniconfig==1.0.1
jinja2==2.11.2
markupsafe==1.1.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest-cov==2.10.0
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest==6.0.1
requests==2.24.0
six==1.15.0
sortedcontainers==2.2.2
toml==0.10.1
urllib3==1.25.10
zipp==3.1.0
